/** clock.css (place input same directory as Clock.java and ensure build script copies the file to the same location as Clock.class) */
.root {
  -fx-background-color: linear-gradient(to bottom, cornsilk, wheat);
  -fx-padding: 12;
  -fx-background-insets: 5;
  -fx-effect: dropshadow(three-pass-box, wheat, 10, 0, 0, 0);
}

#face {
  -fx-fill: radial-gradient(radius 180%, MEDIUMTURQUOISE, derive(MEDIUMTURQUOISE, -30%), derive(MIDNIGHTBLUE, 30%));
  -fx-stroke: derive(MEDIUMTURQUOISE, -45%);
  -fx-stroke-width: 5;
  -fx-effect: dropshadow(three-pass-box, grey, 10, 0, 4, 4);
}

#brand {
  -fx-font-size: 10px;
}

#hourHand {
  -fx-stroke: darkslategray;
  -fx-stroke-width: 4;
  -fx-stroke-line-cap: round;
}

#minuteHand {
  -fx-stroke: derive(darkslategray, -5%);
  -fx-stroke-width: 3;
  -fx-stroke-line-cap: round;
}

#secondHand {
  -fx-stroke: derive(firebrick, -15%);
  -fx-stroke-width: 2;
  -fx-stroke-line-cap: round;
}

#spindle {
  -fx-fill: derive(darkslategray, +5%);
}

#digitalClock {
  -fx-font-size: 14px;
  -fx-font-family: 'Courier New';
}

.tick {
  -fx-stroke: derive(PALETURQUOISE, -15%);
  -fx-stroke-width: 3;
  -fx-stroke-line-cap: round;
}